# 컴파일된 클래스 파일
*.class

# 빌드 디렉터리
/build
/out

# IntelliJ IDEA 설정
.idea/
*.iml

# Eclipse 설정
.classpath
.project
.settings/

# Gradle 설정
.gradle/
build/

# Maven 설정
target/

# 로그 파일
*.log

# Mac OS 파일 시스템
.DS_Store

# 여타 민감한 정보, 예: 환경 설정 파일
.env
